.button {
	display: inline-block;
	width: 125px;
	padding-block: 8px;
    margin-bottom: 2rem;
	margin-inline: auto;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: var(--clr-white-100);
	border: 1px solid var(--clr-white-200);
	border-radius: 8px;
}

@media (min-width: 768px) {
	.button {
		position: absolute;
		bottom: 0rem;
		right: 2rem;
	}
}