.layout {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-image: var(--clr-gradient-primary);
	width: 100%;
	min-height: 100vh;
	padding: var(--fz-32);
}
@media (min-width: 768px) {
	.bgShadow {
		position: absolute;
		inset: 0;
		background-color: rgba(0, 0, 0, 0.55);
		z-index: 4;
	}
}
