.firstStep {
  display: flex;
  justify-content: space-between;
}
.firstStep > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.firstStep h2 {
  margin-top: 1rem;
  font-size: var(--fz-15);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  color: var(--clr-white-100);
}

.img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  padding: 1.5rem;
  border: 15px solid var(--clr-orange-700);
  background-color: var(--clr-white-100);
}

.emptyChoice {
  display: flex;
  justify-content: space-between;
  width: 110px;
  height: 110px;
  background-color: var(--clr-empty-choice);
  border-radius: 50%;
  border: 15px solid transparent;
  margin-bottom: auto;
}
.border_0 {
	border: 15px solid var(--clr-blue-500);
}
.border_1 {
	border: 15px solid var(--clr-red-500);
}
.border_2 {
	border: 15px solid var(--clr-yellow-500);
}
.border_3 {
	border: 15px solid var(--clr-cyan-300);
}
.border_4 {
	border: 15px solid var(--clr-purple-500);
}
