.firstStep {
	position: absolute;
	width: max-content;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: space-between;
	gap: 3rem;
}
.firstStep > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.firstStep h2 {
	margin-top: 1rem;
	font-size: var(--fz-15);
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	color: var(--clr-white-100);
}

.img {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	padding: 1.5rem;
	border-width: 15px;
	border-style: solid;
	background-color: var(--clr-white-100);
}

.emptyChoiceBox {
	margin-top: 1.15rem;
}
.emptyChoice {
	display: flex;
	justify-content: space-between;
	width: 110px;
	height: 110px;
	background-color: var(--clr-empty-choice);
	border-radius: 50%;
	border: 15px solid transparent;
	margin-bottom: auto;
}

@media (min-width: 768px) {
	.firstStep {
		top: 55%;
		gap: 7.5rem;
	}
	.gap {
		gap: 25rem;
	}
	.firstStep > div {
		flex-direction: column-reverse;
	}
	.firstStep h2 {
		margin-bottom: 4rem;
		font-size: var(--fz-24);
		letter-spacing: 3px;
	}
	.firstStep div:last-of-type {
		display: flex;
		justify-content: center;
	}
	.img {
		width: 290px;
		height: 300px;
		padding: 3.5rem;
		border-width: 35px;
		box-shadow: inset 0 12px 0px rgba(161, 184, 255, 0.5);
	}
	.emptyChoiceBox {
		position: relative;
		margin-top: 0;
		width: 290px;
		height: 300px;
	}
	.emptyChoice {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 230px;
		height: 230px;
	}
	
}
